.covid-div {
  padding: 40px;
  background-color: white;
  border-radius: 30px;
}

.covid-header {
  padding-bottom: 30px;
}

.covid-row {
  display: flex;
  justify-content: center;
}

.nums {
  font-size: 50px;
}

.titles {
  font-size: 25px;
  font-weight: 300;
}

.fa-virus-covid {
  color: rgb(18, 105, 18);
  padding: 15px;
}

.progress {
  max-width: 400px;
}

.small-hover {
  font-size: 12px;
}

.test-pos {
  padding-bottom: 10px;
}

.levels {
  font-size: 15px;
}

.meter {
  padding-top: 10px;
}

.small-info {
  font-size: 12px;
  padding-top: 5px;
}

.fa-circle-question {
  padding: 5px;
}
