.covid-div {
  padding: 40px;
  background-color: white;
  border-radius: 30px;
}

.covid-header {
  padding-bottom: 30px;
}

.covid-row {
  display: flex;
  justify-content: center;
}

.nums {
  font-size: 50px;
}

.titles {
  font-size: 25px;
  padding-bottom: 10px;
}

.fa-virus-covid {
  color: rgb(18, 105, 18);
  padding: 15px;
}

.progress {
  width: 400px;
}

.small-hover {
  font-size: 12px;
}
